**/node_modules/
/data
**/bundle.js
/comment/
/file/
/progress/
/project/
/projectoperation/
/schedule/
/subtask/
/task/
/taskoperation/
/user/
/userinfo/
/userpermission/
/project_user/
/schedule_user/
/task_file/
/task_user/