**/node_modules/
/data
**/bundle.js
/comment/
/file/
/progress/
/project/
/projectoperation/
/schedule/
/subtask/
/task/
/taskoperation/
/user/
/userinfo/
/userpermission/
/projectuser/
/scheduleuser/
/taskfile/
/taskuser/